body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333;
    color: white;
}

h1 {
    margin-top: 20px;
    color: #f39c12;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.word-display {
    font-size: 32px;
    margin-bottom: 20px;
}

.letters-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.letter-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #f39c12;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.letter-button:hover {
    background-color: #e67e22;
}

.letter-button.disabled {
    background-color: #555;
    cursor: not-allowed;
}

.message {
    font-size: 18px;
    margin-bottom: 20px;
    color: #f39c12;
}

.chances-display {
    font-size: 24px;
    margin-bottom: 20px;
}

button#restartBtn {
    background-color: #f39c12;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#restartBtn:hover {
    background-color: #e67e22;
}

button.hidden {
    display: none;
}

.cont{
    text-align: center;

    p {
        margin: 0 !important;
    }
}